
@{
    ViewBag.Title = "AddAppointmentAdmin";
}

<link rel="stylesheet" type="text/css" href="~/Content/appointment.css" />

<div class="container-small" id="container">
    <div class="form-container appointment-container">
        <button id="backToList" type="button" class="btn-backTo">
            <img alt="volver a lista de pacientes" src="~/Imgs/back.png"/>
        </button>
        <form action="#">
            <h2>Añadir espacio para cita</h2>
            <input type="date" id="fechaNuevaHabilitada" placeholder="Fecha" />
            <input type="time" id="horaNuevaHabilitada" placeholder="Hora"/>
            <br />
            <br />
            <button> Añadir espacio </button>
        </form>
    </div>
</div>


