
@{
    ViewBag.Title = "Appointment";
}
    <link rel="stylesheet" type="text/css" href="~/Content/appointment.css" />

    <div class="container" id="container">
        <div class="form-container appointment-container">
            <form action="#">
                <h2>Agendar Cita</h2>
                <input id="nombreCompletoCita" placeholder="Su nombre completo aquí" size="60" />
                <input id="correoCita" placeholder="Correo al que desea ser notificado" size="60" />
                <input id="fechaCita" placeholder="Seleccione una fecha" class="datepicker" size="60" />
                <br />
                <br />
                <button> Reservar </button>
            </form>
        </div>
    </div>


@*<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });
</script>*@

