
@{
    ViewBag.Title = "Appointment";
}
    <link rel="stylesheet" type="text/css" href="~/Content/appointment.css" />

    <div class="container" id="container">
        <img src="~/Views/Imgs/rsz_171349130_898983003807657_2229923389173137408_n.jpg" />
         <div class="form-container appointment-container">
             <form action="#">
                 <h2>Agendar Cita</h2>
                 <input id="nombreCompletoCita" placeholder="Su nombre completo aquí" size="25" />
                 <input id="correoCita" placeholder="Correo al que desea ser notificado" size="25" />
                 <input id="fechaCita" placeholder="Seleccione una fecha" class="datepicker" size="25" />
             </form>
         </div>
    </div>


@*<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });
</script>*@

