
@{
    ViewBag.Title = "ListAppointments";
}

<link rel="stylesheet" type="text/css" href="~/Content/list_appointment.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
 integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<body>
    <a href="" class="float">
        <img alt="volver a lista de pacientes" src="~/Imgs/logout.png" class="my-float"/>
    </a>
    <div class="label-container">
        <div class="label-text">Cerrar Sesión</div>
    </div>
    <div class="row" style="width: 1400px; padding-top: 20px">
        <div class="col-xl-12 table-wrapper-scroll-y custom-scrollbar">
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th colspan="6" width="170px" style="text-align:left; padding-bottom: 20px">
                            Habilitar Cita
                            <button id="backToList" type="button" class="btn-schedule">
                                <img alt="volver a lista de pacientes" src="~/Imgs/calendar.png" />
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th scope="col" width="120px">Editar cita</th>
                        <th scope="col">Id Cita</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Descripción</th>
                        <th scope="col" width="120px">Eliminar cita</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-btn">
                            <button type="button"
                                    class="btn">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                        <th scope="row">125</th>
                        <td>Cristhian Martínez Herrera</td>
                        <td>27/1/2020</td>
                        <td>Cita de control</td>
                        <td class="td-btn">
                            <button type="button" class="btn">
                                <span class="fas fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-btn">
                            <button type="button"
                                    class="btn">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                        <th scope="row">269</th>
                        <td>Felipe Chacón</td>
                        <td>9/8/2020</td>
                        <td> Extracción </td>
                        <td class="td-btn">
                            <button type="button" class="btn">
                                <span class="fas fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-btn">
                            <button type="button"
                                    class="btn">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                        <th scope="row">887</th>
                        <td>Kevin Artavia Varela</td>
                        <td>5/4/2020</td>
                        <td>Blanqueamiento</td>
                        <td class="td-btn">
                            <button type="button" class="btn">
                                <span class="fas fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-btn">
                            <button type="button"
                                    class="btn">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                        <th scope="row">496</th>
                        <td>Mariana Urcuyo Zúñiga</td>
                        <td>6/12/2020</td>
                        <td>Radiología</td>
                        <td class="td-btn">
                            <button type="button" class="btn">
                                <span class="fas fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-btn">
                            <button type="button"
                                    class="btn">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                        <th scope="row">785</th>
                        <td>Sebastián Ríos</td>
                        <td>6/7/2020</td>
                        <td>Colocación frenillos</td>
                        <td class="td-btn">
                            <button type="button" class="btn">
                                <span class="fas fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-btn">
                            <button type="button"
                                    class="btn">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                        <th scope="row">785</th>
                        <td>Steven Artavia Varela</td>
                        <td>8/3/2020</td>
                        <td>Carillas</td>
                        <td class="td-btn">
                            <button type="button" class="btn">
                                <span class="fas fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-btn">
                            <button type="button"
                                    class="btn">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                        <th scope="row">712</th>
                        <td>Andrés Montero</td>
                        <td>28/4/2020</td>
                        <td>Extracción</td>
                        <td class="td-btn">
                            <button type="button" class="btn">
                                <span class="fas fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-btn">
                            <button type="button"
                                    class="btn">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                        <th scope="row">348</th>
                        <td>Andrés Pereira</td>
                        <td>1/2/2020</td>
                        <td>Revisión general</td>
                        <td class="td-btn">
                            <button type="button" class="btn">
                                <span class="fas fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-btn">
                            <button type="button"
                                    class="btn">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                        <th scope="row">569</th>
                        <td>Fabián Tenorio Mora</td>
                        <td>5/5/2020</td>
                        <td>Extracción de cordales</td>
                        <td class="td-btn">
                            <button type="button" class="btn">
                                <span class="fas fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-btn">
                            <button type="button"
                                    class="btn">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                        <th scope="row">997</th>
                        <td>Katherine Martínez</td>
                        <td>22/4/2020</td>
                        <td>Resinas</td>
                        <td class="td-btn">
                            <button type="button" class="btn">
                                <span class="fas fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>