
@{
    ViewBag.Title = "Sign In/Up";
}
<link rel="stylesheet" type="text/css" href="~/Content/login_signup.css" />

<h2>Inicie sesión o cree una cuenta para continuar</h2>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        @using (Html.BeginForm("Register", "SignIn_Up_", FormMethod.Post))
        {
            <form action="#">
                <h1>Crear Cuenta</h1>
                <span>Debe ingresar correo y contraseña</span>
                <input type="text" name="nombre" placeholder="Nombre" />
                <input type="text" name="segundoNombre" placeholder="Segundo Nombre" />
                <input type="text" name="primerApellido" placeholder="Primer Apellido" />
                <input type="text" name="segundoApellido" placeholder="Segundo Apellido" />
                <input type="number" name="cedulaPersona" placeholder="Cédula" />
                <input type="number" name="telefonoPersona" placeholder="Teléfono" />
                <input type="email" name="email" placeholder="Correo" />
                <input type="password" name="password" placeholder="Contraseña" />
                <button type="submit">Registrarme</button>
            </form>
        }
        </div>
    <div class="form-container sign-in-container">
        @using (Html.BeginForm("Login", "SignIn_Up_", FormMethod.Post))
        {
            <form action="#">
                <img src="~/Imgs/logobambu.png" style="width: 300px; margin-top: 0px" />
                <br />
                <br />
                <h1>Iniciar Sesión</h1>
                <span>Ingrese sus credenciales</span>
                <input type="email" name="correoLogin" placeholder="Correo" />
                <input type="password" name="passwordLogin" placeholder="Contraseña" />
                <a href="#">¿Olvidaste tu contraseña?</a>
                 @ViewBag.ErrorMessage
                <button type="submit">Iniciar Sesión</button>
            </form>
        }
        </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Gracias por volver</h1>
                <p>Vuelva a ingresar con sus credenciales</p>
                <button class="ghost" id="signIn">Inicie Sesión</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>¿Primera vez?</h1>
                <p>Ingrese su información persona para poder acceder a la página</p>
                <button class="ghost" id="signUp">Registrarse</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>
        <a> Bambú Dental Care </a>
    </p>
</footer>

<script>

        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });

</script>

